.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #333; /* Fondo de la tabla */
    color: #fff; /* Color del texto */
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #555; /* Color del borde */
}

.table th {
    background-color: #444; /* Fondo del encabezado */
}

.table tr:nth-child(even) {
    background-color: #3a3a3a; /* Fondo de las filas pares */
}

.table tr:hover {
    background-color: #555; /* Fondo al pasar el ratón */
}

.filters {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filters input, .filters select, .filters button {
    padding: 10px;
    font-size: 16px;
    background-color: #444; /* Fondo de los inputs */
    color: #fff; /* Color del texto de los inputs */
    border: 1px solid #555; /* Color del borde de los inputs */
    border-radius: 5px;
}

.filters button {
    background-color: #007bff; /* Fondo del botón */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: #0056b3; /* Fondo del botón al pasar el ratón */
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 600px) {
    .table {
        display: block;
    }

    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        margin: 10px auto; /* Centrar los cards */
        border: 1px solid #555;
        background-color: #444;
        padding: 10px;
        max-width: 90%; /* Limitar el ancho máximo */
    }

    .table td {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid #555;
    }

    .table td:last-child {
        border-bottom: none;
    }

    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
    }

    .filters {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .filters input, .filters select, .filters button {
        margin-bottom: 10px;
        padding: 8px;
        font-size: 14px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #7a7a7a;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modalContent p {
    margin-bottom: 20px;
}

.modalContent button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modalContent button:first-of-type {
    background-color: #007bff;
    color: #000000;
}

.modalContent button:first-of-type:hover {
    background-color: #0056b3;
}

.modalContent button:last-of-type {
    background-color: #ccc;
}

.modalContent button:last-of-type:hover {
    background-color: #999;
}